body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
}

.directory-wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  margin-top: 100px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
  padding: 0 15px;
}

.header-img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: var(--radius);
  box-shadow: 0 4px 12px var(--shadow-color);
  margin-bottom: 20px;
}

.header h1 {
  color: var(--primary-color);
  margin-bottom: 15px;
  font-size: 2.2rem;
}

.search-area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.search-bar {
  padding: 10px;
  width: 60%;
  max-width: 400px;
  border: 1px solid var(--primary-color);
  border-radius: var(--radius);
  flex: 1 1 250px;
}

.search-btn {
  background-color: var(--secondary-color);
  border: none;
  padding: 10px 20px;
  border-radius: var(--radius);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 8px var(--shadow-color);
  transition: background-color 0.3s;
}

.search-btn:hover {
  background-color: #ffcb60;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 0 15px;
}

.emp-card {
  background-color: var(--highlight-color);
  padding: 20px;
  border-radius: var(--radius);
  box-shadow: 0 4px 12px var(--shadow-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.emp-info h2 {
  color: var(--primary-color);
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.emp-info p {
  margin: 4px 0;
  color: var(--text-color);
  font-size: 0.95rem;
}

.details-btn {
  margin-top: 10px;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  padding: 10px;
  border-radius: var(--radius);
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 500;
}

.details-btn:hover {
  background-color: var(--shivam-primary-color);
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .header h1 {
    font-size: 1.8rem;
  }

  .search-bar {
    width: 100%;
  }

  .emp-info h2 {
    font-size: 1.1rem;
  }

  .emp-info p {
    font-size: 0.9rem;
  }
}
.header {
  background-image: url("../assets/HeaderImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 20px;
  border-radius: var(--radius);
  text-align: center;
  margin-bottom: 30px;
  color: var(--white);
  box-shadow: 0 4px 12px var(--shadow-color);
}

.header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--white);
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
